<div class="form-group">
    <label class="col-md-3 control-label">Nombre tipo de Producto</label>
    <div class="col-md-9">
        <%= form.text_field :name, id: :type_of_product_name, class: "form-control", placeholder: "Ingresa un texto" %>
        <span class="help-block"> El Nombre del Tipo de Producto que deseas agregar </span>
    </div>
</div>

<%= content_for :action_buttons do %>
  <%= form.submit 'Guardar', class: "btn green" %>
  <%= link_to "Cancelar", type_of_products_path, class: "btn default" %>
<% end %>    
