/ BEGIN BREADCRUMBS
.breadcrumbs
  %h1 Tablero
  %ol.breadcrumb
    %li
      = link_to "Home", root_path
    %li.active Tablero
/ END BREADCRUMBS
/ BEGIN PAGE BASE CONTENT
.row
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .dashboard-stat2.bordered
      .display
        .number
          %h3.font-green-sharp
            %span{"data-counter" => "counterup", "data-value" => "7800"} 0
            %small.font-green-sharp $
          %small TOTAL PROFIT
        .icon
          %i.icon-pie-chart
      .progress-info
        .progress
          %span.progress-bar.progress-bar-success.green-sharp{:style => "width: 76%;"}
            %span.sr-only 76% progress
        .status
          .status-title progress
          .status-number 76%
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .dashboard-stat2.bordered
      .display
        .number
          %h3.font-red-haze
            %span{"data-counter" => "counterup", "data-value" => "1349"} 0
          %small NEW FEEDBACKS
        .icon
          %i.icon-like
      .progress-info
        .progress
          %span.progress-bar.progress-bar-success.red-haze{:style => "width: 85%;"}
            %span.sr-only 85% change
        .status
          .status-title change
          .status-number 85%
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .dashboard-stat2.bordered
      .display
        .number
          %h3.font-blue-sharp
            %span{"data-counter" => "counterup", "data-value" => "567"}
          %small NEW ORDERS
        .icon
          %i.icon-basket
      .progress-info
        .progress
          %span.progress-bar.progress-bar-success.blue-sharp{:style => "width: 45%;"}
            %span.sr-only 45% grow
        .status
          .status-title grow
          .status-number 45%
  .col-lg-3.col-md-3.col-sm-6.col-xs-12
    .dashboard-stat2.bordered
      .display
        .number
          %h3.font-purple-soft
            %span{"data-counter" => "counterup", "data-value" => "276"}
          %small NEW USERS
        .icon
          %i.icon-user
      .progress-info
        .progress
          %span.progress-bar.progress-bar-success.purple-soft{:style => "width: 57%;"}
            %span.sr-only 56% change
        .status
          .status-title change
          .status-number 57%
