<h1>Editing Orden Request Detail</h1>

<%= render 'form', orden_request_detail: @orden_request_detail %>

<%= link_to 'Show', @orden_request_detail %> |
<%= link_to 'Back', orden_request_details_path %>
