/ BEGIN FOOTER
%p.copyright
  2017 © Inventario-Ticket-System By
  %a{:href => "http://ticketeg.com.bo", :target => "_blank"} Ticketeg S.R.L.
%a.go2top{:href => "#index"}
  %i.icon-arrow-up
/ END FOOTER
