<!-- BEGIN FOOTER -->
    <p class="copyright"> 2017 &copy; Inventario-Ticket-System By
        <a target="_blank" href="http://ticketeg.com.bo">Ticketeg S.R.L.</a> 
    </p>
    <a href="#index" class="go2top">
        <i class="icon-arrow-up"></i>
    </a>
    <!-- END FOOTER -->