%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title Report
    = csrf_meta_tags
    = wicked_pdf_stylesheet_link_tag 'pdf', media: 'all'
    :css
      body {
        font-size: 11px !important;
      }
      body {background-color: #FFFFFF !important;}

      h3 {font-size: 12px !important;}
      table, tr, td, th, tbody, thead, tfoot {
      page-break-inside: avoid !important;
      font-size: 11px !important;
      }
      h2 {font-size: 14px !important;}

      h1 {font-size: 16px !important;}

      #brake{
        display: block;
        clear: both;
        page-break-before: always;
      }

      .tableBrake {
        clear: both;
        page-break-after:always;
      }

      table td {
        border-top: none !important;
      }

      tr.border_top td {
        border-top:1pt solid #ccc !important;
      }

  %body
    .container-fluid
      = yield
